.header__logo {
    display: block;
    margin-bottom: 41px;
}

@media screen and (max-width: 900px) {
    .header__logo  {
        margin-left: 27px;
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 655px) {
    .header__logo  {
        width: 104px;
        height: 24px;
    }
}