.profile__subtitle {
    margin: 16px 0 0 30px;
    max-width: 336px;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    outline: solid red 1px;
    grid-area: subtitle;
}

@media screen and (max-width: 655px) {
    .profile__subtitle  {
        margin: 14px 0 36px;
        font-size: 14px;
        line-height: 1.2;
    }
}