.profile__subtitle {
    margin: 16px 0 0 30px;
    max-width: 336px;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    grid-area: subtitle;
}

@media screen and (max-width: 705px) {
    .profile__subtitle  {
        margin: 8px 0 32px;
        font-size: 14px;
        line-height: 1.2;
    }
}