.popup__close {
    background-image: url("../../../images/сlose_button.svg");
    border: none;
    width: 32px;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    background-size: cover;
    top: 155px;
    right: 385px;
    transition: opacity 0.5s ease;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 685px) {
    .popup__close  {
        width: 20px;
        height: 20px;
        top: 87px;
        right: 19px;
    }
}